<div class="bubble-container">
  <div fxLayout="row"  fxLayoutWrap fxLayout.xs ="column">
    <ul class="bubble-card" tabindex="1">
      <li class="details">
      <img src="assets/Images/clientSide.png"><span class="mat-headline">Client-Side Web Development</span>
      <div class="card-bubble">
    <span class="mat-subhead">HTML5, CSS3, JavaScript, AJAX, DOM, Developer Toolbar(Firefox/Chrome/IE)</span>
      </div>

    </li>
    </ul>
  <ul class="bubble-card" tabindex="2">
    <li class="details">
    <img src="assets/Images/serverSide.png"><span class="mat-headline">Server-Side Web Development</span>
    <div class="card-bubble">
    Express (Node.js/JavaScript), ASP.NET
    </div>
  </li>
  </ul>

<ul class="bubble-card" tabindex="3">
  <li class="details">
  <img src="assets/Images/angular.png"><span class="mat-headline" style="word-wrap:break-word">Front-End Libraries, Frameworks, Pre-Processors</span>
  <div class="card-bubble">
  jQuery, AngularJS,Bootstrap, Angular Material, Sass, Less
</div>
</li>
</ul>


<ul class="bubble-card" tabindex="4">
  <li class="details">
  <img src="assets/Images/codeRepo.png"><span class="mat-headline">Version Control Systems</span>
  <div class="card-bubble">
 Git, Subversion, Visual Studio Team Foundation Version Control.
</div>
</li>
</ul>


<ul class="bubble-card" tabindex="5">
  <li class="details">
  <img src="assets/Images/dbase.png"><span class="mat-headline">Database Systems</span>
  <div class="card-bubble">
 MongoDB, Microsoft SQL Server, MySQL, PostgreSQL, Oracle 9i/10g/11
</div>
</li>
</ul>

<ul class="bubble-card" tabindex="6">
  <li class="details">
  <img src="assets/Images/automation.png"><span class="mat-headline">Automation/Build Tools</span>
  <div class="card-bubble">
 Jenkins, Docker
</div>

</li>
</ul>

<ul class="bubble-card" tabindex="8">
  <li class="details">
  <img src="assets/Images/efficiency.png"><span class="mat-headline">Application Packages</span>
<div class="card-bubble">
 Microsoft Outlook, MS office suite (Windows 95/98/XP/Vista/7)
</div>

</li>
</ul>

<ul class="bubble-card" tabindex="9">
  <li class="details">
  <img src="assets/Images/platforms.png"><span class="mat-headline">Platforms</span>
  <div class="card-bubble">
Linux and UNIX, iOS, Android, Windows
</div>
</li>
</ul>


</div></div>
